<div class="jumbotron">
  <h1 class="display-4">Welcome</h1>
  <p class="lead">LaBonne's Markets Catering Management Software</p>
  <hr class="my-4">
  <p>Currently under construction</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
  </p>
</div>
