<h1>Orders</h1>
<p> </p>
<%= link_to "New Order", new_item_path(@item), class: 'btn btn-success' %>
<div class="row">
  <div class="col-md-10">
    <% @orders.each do |order| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
              <%= link_to order.orderNum, order %>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
